<div id="<%= dom_id photo %>" class="card mb-3 text-center" >
  <%= image_tag photo.photo,class:"card-img-top" %>
  <div class="card-body">
    <p class="card-text">
      <span>
        <%= photo.caption  %>
      </span>
      <br>
      <small class="text-body-secondary">
        Creada <%= time_ago_in_words(photo.created_at) %> atrás.
      </small>
    </p>
    
    
   </div>
   <div class="card-footer text-start">
      <% if current_page?(photo_path(photo.id)) %>
        <!-- Mostrar comentarios existentes -->
        <%= render 'comment' ,photo:photo%>
        <!-- Formulario para agregar nuevos comentarios -->
        <%= render 'comment_form', commentable: @photo %>
      <% else %>
        <% last_comment = photo.comments.last %>
        <% if last_comment %>
          <div class="comment">
            <p><strong><%= last_comment.user.name %>:</strong> <%= last_comment.content %></p>
          </div>
        <% end %>
      <% end %>
    <% if controller_name == 'photos' && action_name != 'show' %>
      <p class="text-end">
        <%= link_to "Show this photo", photo ,class:"btn btn-primary"%>
      </p>
    <% end %>
      
   </div>
</div>
