<p style="color: green"><%= notice %></p>

<%= render @photo %>
<!-- Mostrar comentarios existentes -->
<h3>Comentarios</h3>
<% @photo.comments.each do |comment| %>
  <p><strong><%= comment.user.name %>:</strong> <%= comment.content %></p>
<% end %>

<!-- Formulario para agregar nuevos comentarios -->
<%= render 'comments/comment_form', commentable: @photo %>

<% if current_user.is_karina? %>
<div>
  <%= link_to "Edit this photo", edit_photo_path(@photo) %> |

  <%= button_to "Destroy this photo", @photo, method: :delete %>
</div>
<% else %>
  
<% end %>
  <%= link_to "Back to photos", photos_path %>
